* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

fieldset {
    border: none;
}

h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

hr {
    margin-top: .5rem;
}

.error {
    color: #FF0000;
}

.inputError, input:focus.inputError {
    border-color: #FF0000;
}

.blocked {
    display: none;
}

body {
    min-height: 100vh;
    padding: 1rem;
    display: grid;
    place-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #babfbb;
}

main {
    width: min(90%, 500px);
    padding: 2rem;
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

.inputContainer {
    display: grid;
    grid-template-columns: auto 150px 1fr;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0 0 0;
    font-size: .8rem;
}

.inputContainer input[type="text"] {
    padding: 0.25rem 0.5rem;
    border: 2px solid #9c9b9a;
    border-radius: 5px;
}

.inputContainer input[type="text"]:focus {
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

.validationText {
    font-size: .85rem;
}

.fieldsetContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: .5rem;
    padding-top: 1rem;
}

.colorCheckBox {
    display: none;
}

.sliderContainer {
    display: flex;
    align-items: start;
    justify-items: center;
    gap: .5rem;
}

.slider {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 17px;
    align-self: center;
    cursor: pointer;
    border: 1px solid #9c9b9a;
    border-radius: 30px;
}

.slider::before {
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    z-index: 2;
    width: 15px;
    height: 15px;
    background: #9c9b9a;
    border-radius: 50%;
    transition: 
        left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        right 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        transform 0.2s ease;
}

.slider.m-is-dark::before {
    background: #000;
}

.slider.darken::before {
    transform: translateX(15px);
}

.rangeLabel {
    width: 50px;
    display: inline-block;
}

.colors {
    display: grid;
    grid-template-columns: 105px 105px 20px;
    align-items: center;
    padding-top: 1rem;
    font-size: .8rem;
}

.colors p {
    font-weight: bold;
}

.colors div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

